.bg-login-image {
    background-image: url("../img/tokopedia.jpg") !important;
}
span.relative.z-0.inline-flex.shadow-sm.rounded-md {
    display: none !important;
}
.hidden.sm\:flex-1.sm\:flex.sm\:items-center.sm\:justify-between {
    margin-top: 20px !important;
}
